// Container-width
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1620px
) !default;

// Colors
$color-blue: #312477;

// Font-size
$h1-font-size: 50px;
$h2-font-size: 30px;


